<nav>
    <ul id="menuItems">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/addProducts">Add Products</a></li>
    </ul>
</nav>
<a href="/cart"><img src="images/cart.png" width="30px" height="30px"></a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">