<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header.ejs') %>

    <body>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="/"><img src="images/logo.png" width="125px"></a>
                    </div>
                    <%- include ('./partials/navbars.ejs') %>

                </div>
            </div>
        </div>


        <div class="small-container">
            <div class="row row-2">
                <h2>All Products</h2>
                <select>
                    <option>Default Shorting</option>
                    <option>Short By Price</option>
                    <option>Short By Popularity</option>
                </select>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="images/product-1.jpg">
                    <h4>Red Printed T-Shirt </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>Rs 500/-</p>
                </div>
                <div class="col-4">
                    <img src="images/product-2.jpg">
                    <h4>Black Flexible Shoe </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>Rs 300/-</p>
                </div>
                <div class="col-4">
                    <img src="images/product-3.jpg">
                    <h4>Strechable Gray Trouser </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>Rs 700/-</p>
                </div>
                <div class="col-4">
                    <img src="images/product-4.jpg">
                    <h4>Navyblue Printed T-Shirt </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>Rs 300/-</p>
                </div>
            </div>
            <div class="page-btn">
                <span>1</span>
                <a href="/two"><span>2</span>
                    <span>3</span>
            </div>
        </div>
        </div>

        <!---footer-->

        <%- include ('./partials/footer.ejs') %>
            <script src="./script.js"></script>
    </body>

</html>