<div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="images/exclusive.png" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusively Available on RedStore</p>
                        <h1><Smart band 4>Mi Smart Band 4</h1>
                        <small>The Mi Smart band 4 features a 39.9% larger (than Mi Band 3) AMOLED color full-touch
                            display with adjustable brightmess, so evertyhing is clear as can be.<br>
                        </small>
                        <a href="https://www.flipkart.com/mi-smart-band-4/p/itm726625464a2e3?pid=SBNFPNVT2FJEKKHV&li
                     d=LSTSBNFPNVT2FJEKKHVYORHRM&marketplace=FLIPKART&q=mi+smart+band+4&store=ajy%2Fq7p&srno=s_1_1&
                     otracker=AS_Query_OrganicAutoSuggest_3_12_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_12_
                     na_na_na&fm=SEARCH&iid=8b61360f-cbdd-44d3-98bd-3ad846be56d1.SBNFPNVT2FJEKKHV.SEARCH&ppt=hp&ppn=home
                     page&ssid=0wulij3pyjo3gxds1630382042160&qH=83bb0508ffe4d14b" class="btn" target="_blank">Buy Now
                            &#8594;</a>
                    </div>
                </div>
            </div>
        </div>